body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #7c0a02;
  color: #fff;
  padding: 1rem;
}

.flex-container {
  display: flex;
  flex-grow: 1;
}

aside {
  background-color: #fbceb1;
  width: 200px;
  padding: 1rem;
}

main {
  flex-grow: 1;
  padding: 1rem;
}

button {
  background-color: #7c0a02;
  color: #fff;
  padding: 1rem;
}

footer {
  background-color: #7c0a02;
  color: #fff;
  padding: 1rem;
}
