body {
  background: rgb(2, 0, 36);
  background: linear-gradient(to right, #00b4db, #0083b0);
}

/* Center Align Elements */
.container {
  margin: auto;
  width: 50%;
  border: 3px solid lightcyan;
  padding: 10px;
  text-align: center;
}

/* Removing black dots from li, add border around task list*/
ul {
  list-style-type: none;
  border: 1px lightcyan;
  border-style: dotted dashed solid double;
}

/* line through li once completed */
li.completed-Task {
  text-decoration: line-through;
}
