body {
  background: rgb(2, 0, 36);
  background: linear-gradient(to right, #00b4db, #0083b0);
}

/* Center Align Elements */
.container {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

/* Removing black dots from li */
ul {
  list-style-type: none;
}

/* line through li once completed */
li.completed-Task {
  text-decoration: line-through;
}
