body {
  background-color: #85ffbd;
  background-image: linear-gradient(90deg, #85ffbd 0%, #fffb7d 100%);
}

#game div {
  border: 5px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  background-image: url(div-background.png);
}
/* Styles over ride classes */
#game div.flipped {
  background-image: unset;
}
