html {
  /* 0.0625 * 16px = 1 (i.e., 1rem = 1px) */
  font-size: 6.25%;
  height: 100%;
}

body {
  /* resolves to 16px */
  font-size: 16rem;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f5deb3;
}
nav {
  background-color: #add8e6;
}
aside {
  display: flex;
  background-color: #87ceeb;
  justify-content: space-around;
  align-items: center;
  /* float: left;
  width: 20%; */
}

input {
  margin: 2px;
}
main {
  background-color: #ffffff;
  float: right;
  width: 80%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
footer {
  background-color: #f5deb3;
  margin-top: auto;
  clear: both;
}
.meme {
  text-decoration: none;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #ccc;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.memeFrame {
  display: flex;
  justify-content: center;
  margin: 5px;
  position: relative;
}

/* Styles for the text overlay */
.memeFrame::before {
  content: 'Remove';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  font-size: 40rem;
  z-index: 2;
}

/* Styles for the hover effect */
.memeFrame:hover::before {
  color: red;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

.textOnTop {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 20rem;
}

.textOnBottom {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 20rem;
}
